@using OrderWebApp.Models
@using OrderWebApp.ViewModels

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Список заказов";
}

@model IEnumerable<OrderViewModel>

@section AddCss
{
    <link rel="stylesheet" type="text/css" href="~/css/order_list.css" />
}

<h1 class="centered big_text">
    Список заказов:
</h1>

<div class="table_border">

    <table>
        <tr>
            <th>Номер заказа</th>
            <th>Город отправителя</th>
            <th>Адрес отправителя</th>
            <th>Город получателя</th>
            <th>Адрес получателя</th>
            <th>Вес груза (кг.)</th>
            <th>Дата забора груза</th>
        </tr>

        @foreach(OrderViewModel orderViewModel in Model)
        {
            <tr>
                <td> @orderViewModel.Number </td>
                <td> @orderViewModel.SenderCity </td>
                <td> @orderViewModel.SenderAddress </td>
                <td> @orderViewModel.RecipientCity </td>
                <td> @orderViewModel.RecipientAddress </td>
                <td> @orderViewModel.PackageWeightInkilograms </td>
                <td> @orderViewModel.PackagePickUpDate </td>
            </tr>
        }
    </table>

</div>
